{% extends 'music/base.html' %}
{% block title %} music {% endblock %}
{% block body %}
<center><h1><font color="green" face ="verdana"><u><i>My music library</i></u></font> </h1></center>
<font color="red" face ="verdana"><center><h2>  <marquee direction = "left" hspace = "40%" vspace = "1%">welcome to my library</marquee></h2></center></font> 
{% if all_albums %}
	<font color = "red" size="6">
		<ol>
			{% for album in all_albums %}
			<li> <a href = "/music/{{ album.id}}/"> {{ album.album_title}} </a> </li>
			{% endfor %}
		</ol>
	</font>
	
{% else %}
	<h3> u dont have any albums </h3>
	
{% endif %}
{% endblock %}
